<template name="signup">
    <div class="container-full">
      <div class="container container-xs"><img src="img/logo.png" class="mv-lg block-center img-responsive thumb64">
        <form id="user-signup" action="" name="createForm" novalidate="" class="card b0 form-validate">
          <div class="card-offset pb0">
            <div class="card-offset-item text-right">
              <div id="form-ok" class="btn btn-success btn-circle btn-lg hidden"><em class="ion-checkmark-round"></em></div>
            </div>
          </div>
          <div class="card-heading">
            <div class="card-title text-center">Create account</div>
          </div>
          <div class="card-body">
            <div class="mda-form-group float-label mda-input-group">
              <div class="mda-form-control">
                <input type="email" name="accountName" required="" class="form-control">
                <div class="mda-form-control-line"></div>
                <label>Email address</label>
              </div><span class="mda-input-group-addon"><em class="ion-ios-email-outline icon-lg"></em></span>
            </div>
            <div class="mda-form-group float-label mda-input-group">
              <div class="mda-form-control">
                <input id="account-password" type="password" name="accountPassword" required="" class="form-control">
                <div class="mda-form-control-line"></div>
                <label>Password</label>
              </div><span class="mda-input-group-addon"><em class="ion-ios-locked-outline icon-lg"></em></span>
            </div>
            <div class="mda-form-group float-label mda-input-group">
              <div class="mda-form-control">
                <input type="password" name="accountPasswordCheck" required="" class="form-control">
                <div class="mda-form-control-line"></div>
                <label>Confirm password</label>
              </div><span class="mda-input-group-addon"><em class="ion-ios-locked-outline icon-lg"></em></span>
            </div>
          </div>
          <button type="submit" class="btn btn-primary btn-flat">Create</button>
          <div class="card-body bg-gray-lighter text-center text-sm"><span class="spr">By registering I accept the</span><a href="#" class="spr">Terms of Service</a><span class="spr">and</span><a href="#" class="spr">Privacy</a></div>
        </form>
      </div>
    </div>
</template>