
<template name="googleMaps">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="card card-default">
          <div class="card-heading">Basic</div>
          <div class="card-body">
            <div id="map" class="gmap"></div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card card-default">
          <div class="card-heading">Markers</div>
          <div class="card-body">
            <div id="map-markers" class="gmap"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="card card-default">
      <div class="card-heading">Panorama</div>
      <div class="card-body">
        <div id="panorama" class="gmap"></div>
      </div>
    </div>
  </div>
</template>